// @media (max-width: 1280px)
@media (max-width: 1000px)
  .container
    width: 90%

.skills
  max-width: 90%

@media (max-width: 768px)
  .header
    &__list
      display: none
      &-visible
        display: flex
        flex-direction: column
        align-items: flex-end
        position: absolute
        top: 64px
        right: 0
        height: 100vh
        width: 100%
        background-color: #fff
        padding-top: 20px
    &__item
      margin-bottom: 15px
      margin-right: 15px
    &__line
      display: none

  .burger
    display: block
    margin-left: auto

  .name
    flex-wrap: wrap
    &__name
      font-size: 43px
      width: 100%
      margin: 0 0 23px 0

  .about
    margin-bottom: 50px

  .skills
    &__title
      margin-bottom: 50px
    &__text
      margin-bottom: 50px
    &__wrapper
      flex-wrap: wrap

  .skill
    width: 48%
    margin-bottom: 50px

@media (max-width: 480px)
  .name
    &__info
      font-size: 16px

  .call
    font-size: 16px
    padding: 10px 25px

  .about
    &__text
      font-size: 17px
      line-height: 21px
      margin-bottom: 30px

  .skills
    margin-bottom: 69px
